* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

div.game {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
}

div.settings {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

button.cell {
  background: grey;
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: 1px solid black;
}
